
  <ul class="navbar navbar-light" style="background-color: #071C5D">

    <ul class="nav">

      <li class="h5 nav-item">
        <a class="nav-link text-white" href="#">MLB</a>
      </li>

      <li class="h6 nav-item">
        <a class="nav-link text-white" href="#">News</a>
      </li>

      <li class="h6 nav-item">
        <a class="nav-link text-white" href="#">Video</a>
      </li>

      <li class="h6 nav-item">
        <a class = "nav-link text-white" href="#">Scores</a>
      <Li>

      <li class="h6 nav-item">
        <a class="nav-link text-white" href="#">Stats</a>
      </li>

      <li class="h6 nav-item">
        <a class="nav-link text-white" href="#">Standings</a>
      </li>

      <li class="h6 nav-item">
        <a class="nav-link text-white" href="#">Schedule</a>
      </li>

      <li class="h6 nav-item">
        <a class = "nav-link text-white" href="#">Players</a>
      </li>

      <li class="h6 nav-item">
        <a class = "nav-link text-white" href="#">Play Ball</a>
      </li>
          
      <li class="h6 nav-item">
        <a class = "nav-link text-white" href="#">Fans</a>
      </li>
          
      <li class="h6 nav-item">
        <a class = "nav-link text-white" href="#">Fantasy</a>
      </li>

      <li class="h6 nav-item">
        <a class = "nav-link text-white" href="#">Apps</a>
      </li>
    </ul>

    <ul class ="nav mt-5">
      <li class="h6 nav-item">
        <a class = "nav-link text-white" href="#">Tickets</a>
      </li>

      <li class="h6 nav-item">
        <a class = "nav-link text-white" href="#">MLB.TV</a>
      </li>

      <li class="h6 nav-item">
        <a class = "nav-link text-white" href="#">Shop</a>
      </li>

      <li class="h6 nav-item">
        <a class = "nav-link text-white" href="#">Teams</a>
      </li>

      <li class="h6 nav-item">
        <a class = "nav-link text-white" href="#">ES</a>
      </li>

      <li class="h6 nav-item">
        <a class = "nav-link text-white" href="#">Search</a>   
        </li>

    
      <div class="dropdown">
      <button
  class = "btn text-white 
  dropdown-toggle"
  type= "button"
  data-bs-toggle = "dropdown"
  aria-expanded ="false"
  id = "dropDownMenuButton1"
  >
  Account
  </button>
  
      <ul class="dropdown-menu dropdown-menu" aria- labeledby="dropDownMenuButton1">
  
        <li><a class="dropdown-item" href="#">Account Settings</a></li>
        <li><a class="dropdown-item" href="#">My Teams</a></li>
        <li><a class="dropdown-item" href="#">Manage Subscriptions</a></li>
        <li><a class="dropdown-item" href="#">E-mail NewsLetters</a></li>
        <li><a class="dropdown-item" href="#">Sign Out</a></li>
  
      </ul>
    </div>
    
  

  