<ul class="footer footer-light" style="background-color: ">
<ul class = "footer position-absolute bottom-0 start-50 ">
<div class="dropdown">
<button
class = "btn text-dark 
dropdown-toggle"
type= "button"
data-bs-toggle = "dropdown"
aria-expanded ="false"
id = "dropDownMenuButton1"
>
Offical Information
</button>

<ul class="dropdown-menu dropdown-menu" aria- labeledby="dropDownMenuButton1">

  <li><a class="dropdown-item" href="#">Official Info</a></li>
  <li><a class="dropdown-item" href="#">About MLB</a></li>
  <li><a class="dropdown-item" href="#">Team Information</a></li>
  <li><a class="dropdown-item" href="#">Official Rules</a></li>
  <li><a class="dropdown-item" href="#">Replay Review Regulations</a></li>
  <li><a class="dropdown-item" href="#">Umpires</a></li>
  <li><a class="dropdown-item" href="#">Advertise with Us</a></li>
  <li><a class="dropdown-item" href="#">Press Releases</a></li>
</ul>
</div>
  <ul>
  <ul class = "footer position-absolute bottom-0 start-100 ">
  <div class="dropdown">
  <button
  class = "btn text-dark 
  dropdown-toggle"
  type= "button"
  data-bs-toggle = "dropdown"
  aria-expanded ="false"
  id = "dropDownMenuButton1"
  >
  Help/Contact Us
  </button>
  
  <ul class="dropdown-menu dropdown-menu" aria- labeledby="dropDownMenuButton1">
  
    <li><a class="dropdown-item" href="#">Accessibility Information</a></li>
    <li><a class="dropdown-item" href="#">Auctions Customer Service</a></li>
    <li><a class="dropdown-item" href="#">Harassment Policy</a></li>
    <li><a class="dropdown-item" href="#">Help/Constact Us</a></li>
    <li><a class="dropdown-item" href="#">MLB App FAQs</a></li>
    <li><a class="dropdown-item" href="#">MLB.com Account Information</a></li>
    <li><a class="dropdown-item" href="#">MLB.TV Help Center</a></li>
    <li><a class="dropdown-item" href="#">Shop Help</a></li>
    <li><a class="dropdown-item" href="#">Ticket Information</a></li>
  </ul>
  </div>
    <ul>
    <ul class = "footer position-absolute bottom-0 start-100 ">
    <div class="dropdown">
    <button
    class = "btn text-dark 
    dropdown-toggle"
    type= "button"
    data-bs-toggle = "dropdown"
    aria-expanded ="false"
    id = "dropDownMenuButton1"
    >
    More MLB Sites & Affiliates
    </button>
    
    <ul class="dropdown-menu dropdown-menu" aria- labeledby="dropDownMenuButton1">
    
      <li><a class="dropdown-item" href="#">MLB Players Alumni Association</a></li>
      <li><a class="dropdown-item" href="#">MLB Players Association</a></li>
      <li><a class="dropdown-item" href="#">Minor League Baseball</a></li>
      <li><a class="dropdown-item" href="#">MLB Network</a></li>
      <li><a class="dropdown-item" href="#">Basebakk Assistance Team</a></li>
      <li><a class="dropdown-item" href="#">Player Resource Center</a></li>
      <li><a class="dropdown-item" href="#">Tickets.com</a></li>
      <li><a class="dropdown-item" href="#">YES Network</a></li>
      <li><a class="dropdown-item" href="#">Australian Baseball League</a></li>
      <li><a class="dropdown-item" href="#">World Baseball Classic</a></li>
      <li><a class="dropdown-item" href="#">sabr.org</a></li>
      <li><a class="dropdown-item" href="#">College Baseball Hall of Fame</a></li>
      <li><a class="dropdown-item" href="#">Golden SPikes Award</a></li>
      <li><a class="dropdown-item" href="#">USA Baseball</a></li>
      <li><a class="dropdown-item" href="#">LasMayores.com</a></li>
      <li><a class="dropdown-item" href="#">MLBCommunity.com</a></li>
      <li><a class="dropdown-item" href="#">AllStarGame.com</a></li>
      <li><a class="dropdown-item" href="#">MLB.com/Kids</a></li>
      <li><a class="dropdown-item" href="#">MLB Photostore</a></li>
      <li><a class="dropdown-item" href="#">Offseason Leagues</a></li>
      <li><a class="dropdown-item" href="#">PlayBall.org</a></li>
      <li><a class="dropdown-item" href="#">MLB Educators</a></li>
    </ul>
    </div>
      <ul>
      <ul class = "footer position-absolute bottom-0 start-100 ">
      <div class="dropdown">
      <button
      class = "btn text-dark 
      dropdown-toggle"
      type= "button"
      data-bs-toggle = "dropdown"
      aria-expanded ="false"
      id = "dropDownMenuButton1"
      >
      Careers
      </button>
      
      <ul class="dropdown-menu dropdown-menu" aria- labeledby="dropDownMenuButton1">
      
        <li><a class="dropdown-item" href="#">Careers Home</a></li>
      </ul>
      </div>
        <ul>